#GameContainer {

    box-sizing: border-box;

    padding-top: 70px;

    padding-bottom: 60px;

    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#posterContainer {
    width: 90%;
    user-select: none;
    margin-bottom: 25px;
}

#castContainer {
    width: min-content;
    max-width: 90%;
}

#plotContainer {
    width: 700px;
    max-width: 90%;
}

.hintContainer {
    margin-bottom: 25px;
    
}

.hintContainer.hide {
    height: 0;
    margin: 0;
    transform-origin: top center;
    transform: scaleX(0) scaleY(0);
    
}
.hintContainer.show {
    height: auto;
    transform-origin: top center;
    transform: scale(1) skew(100,0);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0.25s;
}

.hintButton {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    width: 300px;
    max-width: 60%;
    height: 40px;
    background-color: rgba(190, 190, 190, 0.5);
    border: 1px rgba(201, 201, 201, 0.3) solid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

}

.hintButton.hide {
    height:0;
    transform: scale(0);
    transition: transform 0.2s ease-in,
                height 0.25s cubic-bezier(1, 1, 1, 0),
}

.hintButton.show {
    transform: scale(1);
}

.hintButton.hideLoad {
    transition: none !important;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    position: fixed;
    top: 50%;
    width: 8vmax;
    height: 8vmax;
    border-radius: 50%;
    background-color: white;
    

    z-index: 10;
}

.button span {
    transform: translateY(-0.2vmax)
}

.button.right {
    background-color: rgb(0, 255, 0, 0.5);
    right: 5vw;
}

.button.left {
    background-color: rgba(255, 0, 0, 0.5);
    left: 5vw;
}