#GameContainer {
    margin-top: 50px;
    padding-top: 10px;

    margin-bottom: 50px;
    padding-bottom: 10px;

    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#posterContainer {
    width: 90%;
}

#castContainer {
    width: min-content;
    max-width: 80%;
}

.hintContainer {
    width: 90%;
    
}

.hintContainer.hide {
    height: 0;
    transform: scale(0);
    
}
.hintContainer.show {
    height: auto;
    transform: scale(1);
    transition: transform 2s;
}

.hintButton {

}

.hintButton.hide {
    transform: scale(0);

    
}
.hintButton.show {
    transform: scale(1);
    
}


.button {
    display: flex;
    position: fixed;
    top: 50%;
    width: 8vmax;
    height: 8vmax;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;

    z-index: 10;
}

.button.right {
    background-color: rgb(0, 255, 0, 0.5);
    right: 5vw;
}

.button.left {
    background-color: rgba(255, 0, 0, 0.5);
    left: 5vw;
}