#Poster {
    width: 100%;
    text-align: center;
    position: relative;
}

#Poster img {
    max-width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#posterImage {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#spinner {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}